<title>New Message</title>
<%- include('navbar') %>
<form method="post" action="/new">
    <label for="user">Name:</label>
    <input type="text" name="user" id="user" required>

    <label for="text">Message:</label>
    <input type="text" name="text" id="text" required>

    <button type="submit">Submit</button>
</form>